// Universal styles
.btn
	+size(194px, 45px)
	border-radius: 20px
	border: none
	text-transform: uppercase
	color: $white
	font-size: 12px
	font-weight: 700
	+m(primary)
		background: $primary

.container
	display: flex
	flex-flow: row wrap
	width: 90%
	max-width: 1200px
	margin: 0 auto

.section-header
	padding-top: 20px
	width: 100%
	text-align: center
	text-transform: uppercase
	font: Montserrat bold
	+e(title)
		font-size: 30px
		color: $black
	+e(text)
		font-weight: 600
		color: $secondary

// Header
.header
	+e(container)
		padding: 10px 0
	+media(medium)
		background: $black
		z-index: 100
	+e(logo)
		height: 100%
		align-self: center
		z-index: 1

.shapeshifter
	+media(medium)
		display: none

.nav
	position: fixed
	top: -90%
	z-index: 1
	display: flex
	flex-flow: column nowrap
	transform: 
	width: $navWidth
	color: $white
	left: 0 // For smooth animation
	transition: 1s
	background: $btnbg
	+e(item)
		background: $btnbg
		line-height: 40px
		padding-left: 20px
		border-bottom: 1px solid $menuborder
		&:after
			content: '❱'
			position: absolute
			right: 20px
		+m(header)
			margin: 0
			&:after
				content: ""
	text-transform: uppercase
	+media(medium)
		justify-content: flex-end
		margin-left: auto
		text-align: center
		background: $black
		position: relative
		z-index: 1
		display: flex
		flex-flow: row wrap
		flex: 1
		color: $white
		transition: 1s
		top: 0
		max-width: 60%
		+media(large)
			max-width: 50%
		+media(xlarge)
			max-width: 90%
		+e(item)
			position: relative
			background: inherit
			padding: 0 15px
			border-bottom: 0
			font-weight: 700
			&:active
				&:after
					border-bottom: 5px solid $primary
					position: absolute
					left: 0
					right: 0
					bottom: 0
			&:after
				content: ''
			+m(header)
				display: none
				&:after
					content: ""


// Hero styles
.hero
	background: url(../images/hero.jpg) no-repeat
	background-size: cover
	position: relative
	top: -72px // - <header> height
	margin-bottom: -72px;
	+media(medium)
		position: initial
		background-position: center
	+e(container)
		height: calc(100vh - 44px)
		+media(medium)
			height: calc(100vh - 133px)
		+media(large)
			height: calc(100vh - 93px)
		+media(xlarge)
			height: calc(100vh - 64px)
	+e(box)
		margin: auto
		width: 100%
		text-align: center
		text-transform: uppercase
		color: $white
	+e(header)
		margin: 0
		font-size: 28px
		+m(line-2)
			display: block
			color: $primary
		+media(medium)
			font-size: 52px
		+media(large)
			font-size: 72px
	+e(text)
		margin: 30px 0 50px
		font-size: 18px
		font-weight: 700
		+media(medium)
			font-size: 24px
	+e(phone)
		+size(65px, 65px)
		border-radius: 50%
		border: none
		background: url(../images/icons/telephone.svg) $primary center no-repeat
		position: relative
		left: calc(50% - 65px / 2)
		top: 32px
		+media(medium)
			top: -42px
			left: 90%

// About styles
.about
	background: $white
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		+media(medium)
			width: 50%
		+media(large)
			width: 40%
		+m(left)
			font: $p
			font-weight: 300
			+media(medium)
				width: 50%
			+media(large)
				width: 60%
	+e(btn)
		margin: 34px 0
	+e(img)
		width: 100%

// Services styles
.services
	background: $black
	.section-header__title
		color: $white
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		text-align: center
		width: 100%
		margin-top: 20px
		font-weight: 400
		+media(medium)
			width: 50%
		+media(large)
			width: 25%
	+e(title)
		color: white
		text-transform: uppercase
		margin: 38px 0 5px
		font-size: 18px
	+e(text)
		color: $secondary
		font-size: 12px

// Projects styles
.project
	+e(nav)
		display: flex
		flex-flow: column nowrap
		width: 100%
		justify-content: center
		text-align: center
		margin: 24px 0 38px 0
		+media(medium)
			flex-direction: row
	+e(filter)
		background: $navbg
		border: 1px solid $menuborder
		padding: 10px
		text-transform: uppercase
		position: relative
		color: black
		@media(max-width: 767px)
			height: 40px
			&:active
				border: 5px solid $primary
		+media(medium)
			padding: 25px
			&:active:after
				content: ""
				border-bottom: 5px solid $primary
				position: absolute
				left: 0
				right: 0
				bottom: 0
		+m(first)
			border-radius: 20px 20px 0 0
			+media(medium)
				border-radius: 50% 0 0 50%
		+m(last)
			border-radius: 0 0 20px 20px
			+media(medium)
				border-radius: 0 50% 50% 0
	+e(images)
		display: flex
		flex-flow: row wrap
		margin-bottom: 30px
	+e(hover)
		display: flex
		width: 50%
		+media(large)
			width: 25%
	+e(image)
		width: 100%
	+e(btn)
		margin: auto
		

// Team styles
.team
	background: url(../images/hero-2.jpg) no-repeat center
	background-size: cover
	position: relative
	&:before
		content: ""
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.7)
	.section-header
		z-index: 1
		.section-header__title
			color: $white
	+e(container)
		justify-content: center
		+media(medium)
			justify-content: space-around
	+e(box)
		z-index: 1
		display: flex
		flex-flow: column nowrap
		align-items: center
		text-align: center
		margin: 10px 0
		padding: 40px
		border-radius: 5px
		background: $white
	+e(photo)
		border-radius: 50%
	+e(name)
		text-transform: uppercase
		margin: 45px 0 0 0
		font-size: 21px
	+e(position)
		margin-bottom: 50px
	+e(icon)
		display: inline-flex
		+size(33px, 33px)
		background: $iconbg
		border-radius: 50%
		color: $white
		&:before
			margin: auto
		&:hover
			background: $primary

// Clients
.clients
	+e(box-container)
		display: flex
		flex-flow: row nowrap
		overflow: hidden
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		text-align: center
		min-width: 100%
		transform: translateX(0%)
		transition: 1s
		+media(medium)
			min-width: 50%
		+media(large)
			min-width: 33%
	+e(photo)
		border-radius: 50%
		margin: 15px 0 30px 0
		+media(medium)
			margin: 77px 0 30px 0
	+e(name)
		font-size: 24px
		font-weight: 700
	+e(position)
		margin: 0 0 30px 0
		font-size: 18px
		font-weight: 400
	+e(text)
		color: $pcolor

// Logos
.logos
	background: $white
	+e(container)
		display: flex
		flex-flow: row nowrap
		height: 160px
		border: 1px solid $menuborder
		overflow-x: auto
		&::-webkit-scrollbar 
		    display: none
		+media(medium)
			align-items: center
			justify-content: center
	+e(logo)
		width: 100%
		height: 40%
		margin: auto 20px
		animation: spin infinite
		+media(medium)
			width: initial
			height: initial

// Price
.price
	+e(container)
		justify-content: center
		+media(medium)
			justify-content: space-around
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		text-align: center
		background: $white
		width: 100%
		margin: 20px 0
		padding: 30px 60px
		+media(medium)
			width: 45%
		+media(large)
			width: 22%
		+m(first)
			margin-top: 45px
			+media(medium)
				margin-top: 20px
	+e(variant)
		margin: 10px 0 0 0
		text-transform: uppercase
		font-weight: 400
	+e(price)
		font-size: 31px
		font-weight: 700
		+m(period)
			display: block
			color: $secondary
			font-size: 10px
			font-weight: 400
	+e(features)
		margin: 8px 0
		color: $pcolor
		font-size: 10px
		font-weight: 400
		&:after
			content: "_"
			display: block
		+m(last)
			&:after
				content: ""
	+e(btn)
		width: 129px
		background: $btnbg
		margin: 28px 0 10px 0
		&:hover
			background: $primary

// Premium
.premium
	background: $white
	+e(image)
		width: 100%
		height: 100%
		+media(medium)
			width: 50%
		+media(large)
			width: 40%
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		+media(medium)
			width: 50%
		+media(large)
			width: 60%
	+e(feature)
		display: flex
	+e(icon)
		display: flex
		width: 12%
		align-self: baseline
		margin-top: 20px
		margin-right: 20px
		+media(medium)
			width: 5%
	+e(text)
	+e(feature-name)
		text-transform: uppercase
		color: $premium2
		font-size: 21px
	+e(feature-text)
		color: $premium
	+e(footer)
		display: flex
		width: 100%
		padding: 30px 0
		border-top: 1px solid $menuborder
	+e(btn)
		margin: auto

// Facts
.facts
	background: $black
	.section-header__title
		color: $white
	+e(container)
		justify-content: space-around
	+e(box)
		display: flex
		flex-flow: column nowrap
		align-items: center
		text-align: center
		width: 100%
		margin: 20px 0
		+media(medium)
			width: 45%
		+media(large)
			width: 22% 
	+e(number)
		color: $primary
		margin: 0 0 10px 0
		font-size: 48px
		font-weight: 700
		&:after
			content: "_"
			display: block
			color: $secondary
			margin-top: -30px
	+e(title)
		margin: 0
		color: $white
		text-transform: uppercase
		font-size: 28px
		font-weight: 700
	+e(text)
		color: $secondary
		font-size: 12px



// Social
.social
	background: $white
	+e(container)
		display: flex
		flex-flow: row wrap
		justify-content: space-around
	+e(item)
		width: 33%
		text-align: center
		+media(medium)
			width: 15%
		+m(share)
			width: 100%
			text-transform: uppercase
			color: $secondary
			+media(large)
				width: 15%
	+e(counter)
		color: $secondary
		font-size: 10px
		font-weight: 700h
	+e(icon)
		color: $white
		display: inline-flex
		border-radius: 50%
		margin-right: 10px
		+size(33px, 33px)
		font-size: 18px
		+m(share)
			color: $secondary
		+m(twitter)
			background: #34c5f0
		+m(linkedin)
			background: #127cb4
		+m(facebook)
			background: #336297
		+m(google-plus)
			background: #e74237
		+m(pinterest)
			background: #b71c29
		&:before
			margin: auto
		&:hover
			filter: contrast(1000%)


// Contact
.contact
	+e(container)
		justify-content: space-around
	+e(form)
		margin-top: 20px
		display: flex
		flex-flow: row wrap
		min-height: 300px
		align-items: space-around
		width: 100%
		+media(medium)
			width: 80%
		+media(large)
			width: 50%
		input, textarea
			border: 0
			background: inherit
			border-bottom: 2px solid $input
			color: black
			&::placeholder
				color: #9e9e9e
				
	+e(name)
		width: 45%
	+e(email)
		width: 45%
		margin-left: auto
	+e(subject)
		width: 100%
		margin: 10px 0
	+e(message)
		width: 100%
		&::placeholder
			line-height: 200px
	+e(btn)
		margin: auto

// Map
.map
	background: url(../images/mapsm.jpg) 76% 250%
	background-size: 300%
	height: 500px
	+e(container)
		+media(medium)
			height: 500px
			align-content: space-evenly;
	+media(medium)
		background-position: center
		background-size: cover
		backgroun-repeat: no-repeat
	+e(box)
		display: flex
		flex-flow: column nowrap
		background: $white
		margin: 20px 0
		padding: 20px
		+media(medium)
			width: 50%
	+e(item)
		display: flex
		align-items: center
		margin: 10px 0
		color: $pcolor
		font-size: 12px
	+e(icon)
		display: flex
		background: $iconbg
		+size(35px, 35px)
		border-radius: 50%
		margin-right: 10px
		color: $white
		font-size: 20px
		&:before
			margin: auto
		+m(phone)
			&:before
				font-size: 30px
				content: "☎"
	+e(text)
		width: calc(100% - 45px)
		margin: 0

// Footer
.footer
	padding-top: 40px
	background: $black
	position: relative
	+e(container)
		justify-content: space-between
	+e(box)
		display: flex
		flex-flow: column nowrap
		min-height: 200px
		width: 100%
		+media(medium)
			width: 45%
		+m(social)
			padding: 20px 0 
			justify-content: space-between
			min-height: 100px
			+media(medium)
				min-height: 200px
		+m(email)
			background: $btnbg
			justify-content: center
			align-items: center
			margin: auto
		+media(large)
			width: 30%
	+e(social)
		align-self: center
		+media(medium)
			align-self: flex-start
	+e(icon)
		display: inline-flex
		+size(35px, 35px)
		border-radius: 50%
		background: $btnbg
		color: $white
		font-size: 18px
		&:before
			margin: auto
		&:hover
			filter: brightness(150%)
	+e(copyrights)
		position: absolute
		bottom: 0
		color: $white
		font-weight: 400
		+media(large)
			position: initial
	+e(text)
		color: $pcolor
		font-size: 12px
	+e(email)
		background: inherit
		border: 0
		border-bottom: 2px solid $secondary
		width: 80%
		margin-bottom: 28px
		font-size: 13px
		line-height: 25px
		text-align: center