@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600,700");
@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -2880px 0px;
  }
}

@keyframes play60reverse {
  0% {
    background-position: -2880px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.shapeshifter {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../images/icons/sprite_60fps.svg);
  animation-name: play60reverse;
  animation-duration: 300ms;
  animation-timing-function: steps(60);
  width: 48px;
  height: 47px;
  background-repeat: no-repeat;
  z-index: 2;
  position: fixed;
  right: 0;
}

.shapeshifter:checked {
  animation-name: play60;
  animation-fill-mode: forwards;
}

/* SVG top menu styles */
.shapeshifter:checked ~ .nav {
  top: 0;
}

html {
  font-family: Montserrat;
  font-size: 14px;
}

body {
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body > *:not(.header):not(.hero):not(.logos):not(.social) {
  padding-bottom: 40px;
}

.btn {
  width: 194px;
  height: 45px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.btn--primary {
  background: #b88b58;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font: Montserrat bold;
}

.section-header__title {
  font-size: 30px;
  color: #000;
}

.section-header__text {
  font-weight: 600;
  color: #aeaeae;
}

.header__container {
  padding: 10px 0;
}

@media (min-width: 767px) {
  .header {
    background: #000;
    z-index: 100;
  }
}

.header__logo {
  height: 100%;
  align-self: center;
  z-index: 1;
}

@media (min-width: 767px) {
  .shapeshifter {
    display: none;
  }
}

.nav {
  position: fixed;
  top: -90%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  color: #fff;
  left: 0;
  transition: 1s;
  background: #373737;
  text-transform: uppercase;
}

.nav__item {
  background: #373737;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #cfcfcf;
}

.nav__item:after {
  content: '❱';
  position: absolute;
  right: 20px;
}

.nav__item--header {
  margin: 0;
}

.nav__item--header:after {
  content: "";
}

@media (min-width: 767px) {
  .nav {
    justify-content: flex-end;
    margin-left: auto;
    text-align: center;
    background: #000;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    color: #fff;
    transition: 1s;
    top: 0;
    max-width: 60%;
  }
}

@media (min-width: 767px) and (min-width: 980px) {
  .nav {
    max-width: 50%;
  }
}

@media (min-width: 767px) and (min-width: 1200px) {
  .nav {
    max-width: 90%;
  }
}

@media (min-width: 767px) {
  .nav__item {
    position: relative;
    background: inherit;
    padding: 0 15px;
    border-bottom: 0;
    font-weight: 700;
  }
  .nav__item:active:after {
    border-bottom: 5px solid #b88b58;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .nav__item:after {
    content: '';
  }
  .nav__item--header {
    display: none;
  }
  .nav__item--header:after {
    content: "";
  }
}

.hero {
  background: url(../images/hero.jpg) no-repeat;
  background-size: cover;
  position: relative;
  top: -72px;
  margin-bottom: -72px;
}

@media (min-width: 767px) {
  .hero {
    position: initial;
    background-position: center;
  }
}

.hero__container {
  height: calc(100vh - 44px);
}

@media (min-width: 767px) {
  .hero__container {
    height: calc(100vh - 133px);
  }
}

@media (min-width: 980px) {
  .hero__container {
    height: calc(100vh - 93px);
  }
}

@media (min-width: 1200px) {
  .hero__container {
    height: calc(100vh - 64px);
  }
}

.hero__box {
  margin: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.hero__header {
  margin: 0;
  font-size: 28px;
}

.hero__header--line-2 {
  display: block;
  color: #b88b58;
}

@media (min-width: 767px) {
  .hero__header {
    font-size: 52px;
  }
}

@media (min-width: 980px) {
  .hero__header {
    font-size: 72px;
  }
}

.hero__text {
  margin: 30px 0 50px;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 767px) {
  .hero__text {
    font-size: 24px;
  }
}

.hero__phone {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: url(../images/icons/telephone.svg) #b88b58 center no-repeat;
  position: relative;
  left: calc(50% - 65px / 2);
  top: 32px;
}

@media (min-width: 767px) {
  .hero__phone {
    top: -42px;
    left: 90%;
  }
}

.about {
  background: #fff;
}

.about__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 767px) {
  .about__box {
    width: 50%;
  }
}

@media (min-width: 980px) {
  .about__box {
    width: 40%;
  }
}

.about__box--left {
  font: 14px Montserrat;
  font-weight: 300;
}

@media (min-width: 767px) {
  .about__box--left {
    width: 50%;
  }
}

@media (min-width: 980px) {
  .about__box--left {
    width: 60%;
  }
}

.about__btn {
  margin: 34px 0;
}

.about__img {
  width: 100%;
}

.services {
  background: #000;
}

.services .section-header__title {
  color: #fff;
}

.services__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
}

@media (min-width: 767px) {
  .services__box {
    width: 50%;
  }
}

@media (min-width: 980px) {
  .services__box {
    width: 25%;
  }
}

.services__title {
  color: white;
  text-transform: uppercase;
  margin: 38px 0 5px;
  font-size: 18px;
}

.services__text {
  color: #aeaeae;
  font-size: 12px;
}

.project__nav {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 24px 0 38px 0;
}

@media (min-width: 767px) {
  .project__nav {
    flex-direction: row;
  }
}

.project__filter {
  background: #ededed;
  border: 1px solid #cfcfcf;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  color: black;
}

@media (max-width: 767px) {
  .project__filter:active {
    border: 5px solid #b88b58;
  }
}

@media (min-width: 767px) {
  .project__filter {
    padding: 25px;
  }
  .project__filter:active:after {
    content: "";
    border-bottom: 5px solid #b88b58;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.project__filter--first {
  border-radius: 20px 20px 0 0;
}

@media (min-width: 767px) {
  .project__filter--first {
    border-radius: 50% 0 0 50%;
  }
}

.project__filter--last {
  border-radius: 0 0 20px 20px;
}

@media (min-width: 767px) {
  .project__filter--last {
    border-radius: 0 50% 50% 0;
  }
}

.project__images {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

.project__hover {
  display: flex;
  width: 50%;
}

@media (min-width: 980px) {
  .project__hover {
    width: 25%;
  }
}

.project__image {
  width: 100%;
}

.project__btn {
  margin: auto;
}

.team {
  background: url(../images/hero-2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.team:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.team .section-header {
  z-index: 1;
}

.team .section-header .section-header__title {
  color: #fff;
}

.team__container {
  justify-content: center;
}

@media (min-width: 767px) {
  .team__container {
    justify-content: space-around;
  }
}

.team__box {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  padding: 40px;
  border-radius: 5px;
  background: #fff;
}

.team__photo {
  border-radius: 50%;
}

.team__name {
  text-transform: uppercase;
  margin: 45px 0 0 0;
  font-size: 21px;
}

.team__position {
  margin-bottom: 50px;
}

.team__icon {
  display: inline-flex;
  width: 33px;
  height: 33px;
  background: #bebebe;
  border-radius: 50%;
  color: #fff;
}

.team__icon:before {
  margin: auto;
}

.team__icon:hover {
  background: #b88b58;
}

.clients__box-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.clients__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  min-width: 100%;
  transform: translateX(0%);
  transition: 1s;
}

@media (min-width: 767px) {
  .clients__box {
    min-width: 50%;
  }
}

@media (min-width: 980px) {
  .clients__box {
    min-width: 33%;
  }
}

.clients__photo {
  border-radius: 50%;
  margin: 15px 0 30px 0;
}

@media (min-width: 767px) {
  .clients__photo {
    margin: 77px 0 30px 0;
  }
}

.clients__name {
  font-size: 24px;
  font-weight: 700;
}

.clients__position {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 400;
}

.clients__text {
  color: #7e7e7e;
}

.logos {
  background: #fff;
}

.logos__container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  border: 1px solid #cfcfcf;
}

.logos__logo {
  display: inline-flex;
  margin: 30px 20px;
  animation: spin infinite;
}

.price__container {
  justify-content: center;
}

@media (min-width: 767px) {
  .price__container {
    justify-content: space-around;
  }
}

.price__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  background: #fff;
  margin: 20px 0;
  padding: 30px 60px;
}

@media (min-width: 767px) {
  .price__box {
    width: 45%;
  }
}

@media (min-width: 980px) {
  .price__box {
    width: 22%;
  }
}

.price__box--first {
  margin-top: 45px;
}

@media (min-width: 767px) {
  .price__box--first {
    margin-top: 20px;
  }
}

.price__variant {
  margin: 10px 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
}

.price__price {
  font-size: 31px;
  font-weight: 700;
}

.price__price--period {
  display: block;
  color: #aeaeae;
  font-size: 10px;
  font-weight: 400;
}

.price__features {
  margin: 8px 0;
  color: #7e7e7e;
  font-size: 10px;
  font-weight: 400;
}

.price__features:after {
  content: "_";
  display: block;
}

.price__features--last:after {
  content: "";
}

.price__btn {
  width: 129px;
  background: #373737;
  margin: 28px 0 10px 0;
}

.price__btn:hover {
  background: #b88b58;
}

.premium {
  background: #fff;
}

.premium__image {
  width: 100%;
  height: 100%;
}

@media (min-width: 767px) {
  .premium__image {
    width: 50%;
  }
}

@media (min-width: 980px) {
  .premium__image {
    width: 40%;
  }
}

.premium__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 767px) {
  .premium__box {
    width: 50%;
  }
}

@media (min-width: 980px) {
  .premium__box {
    width: 60%;
  }
}

.premium__feature {
  display: flex;
}

.premium__icon {
  display: flex;
  width: 12%;
  align-self: baseline;
  margin-top: 20px;
  margin-right: 20px;
}

@media (min-width: 767px) {
  .premium__icon {
    width: 5%;
  }
}

.premium__feature-name {
  text-transform: uppercase;
  color: #242424;
  font-size: 21px;
}

.premium__feature-text {
  color: #5b5b5b;
}

.premium__footer {
  display: flex;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #cfcfcf;
}

.premium__btn {
  margin: auto;
}

.facts {
  background: #000;
}

.facts .section-header__title {
  color: #fff;
}

.facts__container {
  justify-content: space-around;
}

.facts__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

@media (min-width: 767px) {
  .facts__box {
    width: 45%;
  }
}

@media (min-width: 980px) {
  .facts__box {
    width: 22%;
  }
}

.facts__number {
  color: #b88b58;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
}

.facts__number:after {
  content: "_";
  display: block;
  color: #aeaeae;
  margin-top: -30px;
}

.facts__title {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}

.facts__text {
  color: #aeaeae;
  font-size: 12px;
}

.social {
  background: #fff;
}

.social__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.social__item {
  width: 33%;
  text-align: center;
}

@media (min-width: 767px) {
  .social__item {
    width: 15%;
  }
}

.social__item--share {
  width: 100%;
  text-transform: uppercase;
  color: #aeaeae;
}

@media (min-width: 980px) {
  .social__item--share {
    width: 15%;
  }
}

.social__counter {
  color: #aeaeae;
  font-size: 10px;
  font-weight: 700h;
}

.social__icon {
  color: #fff;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  font-size: 18px;
}

.social__icon--share {
  color: #aeaeae;
}

.social__icon--twitter {
  background: #34c5f0;
}

.social__icon--linkedin {
  background: #127cb4;
}

.social__icon--facebook {
  background: #336297;
}

.social__icon--google-plus {
  background: #e74237;
}

.social__icon--pinterest {
  background: #b71c29;
}

.social__icon:before {
  margin: auto;
}

.social__icon:hover {
  filter: contrast(1000%);
}

.contact__container {
  justify-content: space-around;
}

.contact__form {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  min-height: 300px;
  align-items: space-around;
  width: 100%;
}

@media (min-width: 767px) {
  .contact__form {
    width: 80%;
  }
}

@media (min-width: 980px) {
  .contact__form {
    width: 50%;
  }
}

.contact__form input, .contact__form textarea {
  border: 0;
  background: inherit;
  border-bottom: 2px solid #a4a4a4;
  color: black;
}

.contact__form input::placeholder, .contact__form textarea::placeholder {
  color: #9e9e9e;
}

.contact__name {
  width: 45%;
}

.contact__email {
  width: 45%;
  margin-left: auto;
}

.contact__subject {
  width: 100%;
  margin: 10px 0;
}

.contact__message {
  width: 100%;
}

.contact__message::placeholder {
  line-height: 200px;
}

.contact__btn {
  margin: auto;
}

.map {
  background: url(../images/mapsm.jpg) 76% 250%;
  background-size: 300%;
  height: 500px;
}

@media (min-width: 767px) {
  .map__container {
    height: 500px;
    align-content: space-evenly;
  }
}

@media (min-width: 767px) {
  .map {
    background-position: center;
    background-size: cover;
    backgroun-repeat: no-repeat;
  }
}

.map__box {
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  margin: 20px 0;
  padding: 20px;
}

@media (min-width: 767px) {
  .map__box {
    width: 50%;
  }
}

.map__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 12px;
}

.map__icon {
  display: flex;
  background: #bebebe;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.map__icon:before {
  margin: auto;
}

.map__icon--phone:before {
  font-size: 30px;
  content: "☎";
}

.map__text {
  width: calc(100% - 45px);
  margin: 0;
}

.footer {
  padding-top: 40px;
  background: #000;
  position: relative;
}

.footer__container {
  justify-content: space-between;
}

.footer__box {
  display: flex;
  flex-flow: column nowrap;
  min-height: 200px;
  width: 100%;
}

@media (min-width: 767px) {
  .footer__box {
    width: 45%;
  }
}

.footer__box--social {
  padding: 20px 0;
  justify-content: space-between;
  min-height: 100px;
}

@media (min-width: 767px) {
  .footer__box--social {
    min-height: 200px;
  }
}

.footer__box--email {
  background: #373737;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (min-width: 980px) {
  .footer__box {
    width: 30%;
  }
}

.footer__social {
  align-self: center;
}

@media (min-width: 767px) {
  .footer__social {
    align-self: flex-start;
  }
}

.footer__icon {
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #373737;
  color: #fff;
  font-size: 18px;
}

.footer__icon:before {
  margin: auto;
}

.footer__icon:hover {
  filter: brightness(150%);
}

.footer__copyrights {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 980px) {
  .footer__copyrights {
    position: initial;
  }
}

.footer__text {
  color: #7e7e7e;
  font-size: 12px;
}

.footer__email {
  background: inherit;
  border: 0;
  border-bottom: 2px solid #aeaeae;
  width: 80%;
  margin-bottom: 28px;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */